

<ion-content>
<div class="title">
  <h2>login</h2>
   </div>
  <ion-input placeholder="username" class="primary-input" name="username" ngModel #nameCtrl="ngModel"></ion-input>
  <ion-input placeholder="password" type="password" name="password" ngModel #pwdCtrl="ngModel" class="primary-input"></ion-input>

  <div class="ion-margin-top ion-text-right forget">
    <!-- <a href="">Already have account?</a> -->
  </div>
  <div class="ion-margin-top">
    <ion-button expand="block"  (click)="login()" >LOGIN</ion-button>
  </div>
  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">close</a>
  </div>
  
</ion-content>
