<ion-header>
  <ion-toolbar>
    <ion-title>aboutus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
     
    <ion-card>
      <img style="width: 180px; height: 180px; display: inline-block; margin: 25px 10px;"  src="../../assets/logo.png" alt="">
      <ion-header>
        <ion-card-title  class="ion-text-center">ABOUT US </ion-card-title>
      </ion-header>
     
      <ion-card-content class="ion-text-center">
        DONATE2NATION APP is a online platform that was created for those in need and want to donate.
          You can donate anything you want such as foods, toys, clothes and so on and we will deliver it 
          for you to your respective donation place.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img style="width: 180px; height: 180px; display: inline-block; margin: 25px 10px;"  src="../../assets/aims.png" alt="">
      <ion-header>
        <ion-card-title  class="ion-text-center">AIMS </ion-card-title>
      </ion-header>
     
      <ion-card-content class="ion-text-center">
        Help and support those who are underprivileged and have difficulties in providing themselves and/or family 
        with daily essentials. With the help from the donors, the receivers will feel included in the society, and help to reduce their burden.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img style="width: 180px; height: 180px; display: inline-block; margin: 25px 10px;"  src="../../assets/objective.png" alt="">
      <ion-header>
        <ion-card-title  class="ion-text-center">OBJECTIVE</ion-card-title>
      </ion-header>
     
      <ion-card-content class="ion-text-center">
        Raise awareness that even though majority Bruneians are living with privileges, there are actually a minority (roughly 5% of the population) 
        of Bruneians that are living in poverty and need support from the public.
      </ion-card-content>
    </ion-card>
   
  </ion-grid>

  
<!-- 
  <ion-grid class="ion-text-center">
    <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <h3>About Us</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <p>DONATE2NATION APP is a online platform that was created for those in need and want to donate.
      You can donate anything you want such as foods, toys, clothes and so on and we will deliver it 
      for you to your respective donation place.
    </p>
  </ion-row>

  <ion-row>
  <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
    <h3>Aims</h3>
</ion-col>
</ion-row>
<ion-row>
<p>Help and support those who are underprivileged and have difficulties in providing themselves and/or family 
  with daily essentials. With the help from the donors, the receivers will feel included in the society, and help to reduce their burden.
</p>
</ion-row>

<ion-row>
  <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
    <h3>Objective</h3>
</ion-col>
</ion-row>
<ion-row>
<p>Raise awareness that even though majority Bruneians are living with privileges, there are actually a minority (roughly 5% of the population) 
  of Bruneians that are living in poverty and need support from the public.
</p>
</ion-row>
  </ion-grid> -->
</ion-content>
