<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/delivery"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Delivery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item>
      <ion-label color="primary" floating>Address</ion-label>
      <ion-input  ngModel type="text" name="address" #addressCtrl="ngModel" required></ion-input>
    </ion-item>
    <ion-item *ngIf="!addressCtrl.valid && addressCtrl.touched" lines="none">
      <ion-label class="errorMsg">Please Enter Your Address.</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label color="primary" floating>Location</ion-label>
      <ion-input ngModel type="text" name="location" #locationCtrl="ngModel" required></ion-input>
    </ion-item>
    <ion-item *ngIf="!locationCtrl.valid && locationCtrl.touched" lines="none">
      <ion-label class="errorMsg">Please Enter Your Location.</ion-label>
    </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button  style="width:550px; margin:auto;" (click)="showPrompt()" shape="round" expand="block">Done</ion-button>  
      </ion-col>
    </ion-row>
 
</ion-content>
