<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="color: white;">
<img src="" alt="">
<div style="color: bisque;">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-label>Username : </ion-label>
      <ion-input></ion-input>
     </ion-col>
   </ion-row>

   <ion-row>
    <ion-col>
      <ion-label>Password : </ion-label>
      <ion-input></ion-input>
     </ion-col>
   </ion-row>

   <ion-row>
    <ion-col>
      <ion-label>Email : </ion-label>
      <ion-input></ion-input>
     </ion-col>
   </ion-row>
</ion-grid>
</div> 
<ion-button  expand="block"  (click)="savechanges()">Save</ion-button>
  <ion-button  expand="block"  (click)="dismiss()" >Cancel</ion-button>
</ion-content>
